git+https://github.com/mitsuhiko/flask.git
flask-login

Flask-SQLAlchemy
Flask-Migrate
SQLAlchemy
psycopg2

requests

raven[flask]

celery[redis]
redis

#For Development Docker Installing
gunicorn

#sudo apt-get install libpq-dev python-dev