{% extends "base.html" %}

{% block header %}
<div class="metanav left">
    <a href="{{ url_for('index') }}">Home</a>
</div>
<div class="metanav right">
    <span>Hi {{ current_user.username }}!</span>
    <a href="{{ url_for('logout') }}">Log out</a>
</div>

{% endblock %}
{% block body %}
    <div class="help-container">
        <div class="help-holder">
            <p>Your personal chat identifier: <span class="user_data">{{ current_user.hash }}</span> - please keep it.</p>
        </div>
        <div class="help-holder">
            <p>Your personal link to the chat: <span class="user_data"><a href="{{ request.host_url }}{{ current_user.hash }}/" target="_blank">{{ request.host_url }}{{ current_user.hash }}/</a></span></p>
        </div>
        <div class="help-holder">
            <p>if you have problems with Google Universal Analytics: does not come any statistics or incorrect statistics, some script integration error.</p>
            <ol>
                <li>
                    <p>Check you Google Universal Analytics Tracking ID: <span class="user_data">{{ current_user.google_track_id }}</span>. <a href="https://support.google.com/analytics/answer/1032385?hl=en" target="_blank">How to find your tracking ID?</a></p>
                </li>
                <li>
                    <p>Set up a Web Site URL: <span class="user_data">{{ request.host_url }}</span> and select the protocol standard {% if request.is_secure %}<span class="user_data">https://</span>{% else %}<span class="user_data">http://</span>{% endif %} . <a href="https://support.google.com/analytics/answer/1042508?hl=en" target="_blank">How to set up a property?</a></p>
                </li>
            </ol>
        </div>
        <div class="help-holder">
            <p>Your Livechat login and API Key: <span class="user_data">{{ current_user.livechat_login }}</span> <span class="user_data">{{ current_user.livechat_api_key }}</span></p>
            <p>To configure the chat, you need to: </p>
            <ol>
                <li>
                    <p>Add Webhook to your LiveChat setting: <a href="https://my.livechatinc.com/settings/webhooks" target="_blank">https://my.livechatinc.com/settings/webhooks</a>:</p>
                        <ol>
                            <li>Event: <span class="user_data">chat ends(chat_ended)</span></li>
                            <li>Data type: <span class="user_data">chat</span></li>
                            <li>Target URL: <span class="user_data">{{ request.host_url }}{{ current_user.hash }}/</span></li>
                        </ol>
                    <img src="{{ url_for('static', filename='images/help-image-1.jpeg') }}" width="100%">
                </li>
                <li>
                    <p>Add Script code on every page of your website before <span class="user_data">&lt;/body&gt;</span> tag, where you want to display a chat.</p>
                    <span class="user_data code">&lt;script type="text/javascript"&gt;<br>
                    <span>&nbsp;&nbsp;window.__lc = window.__lc || {};<br></span>
                    <span>&nbsp;&nbsp;window.__lc.license = &lt;YOUR LICENSE&gt;<br></span>
                    <span>&nbsp;&nbsp;(function() {<br></span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;<br></span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';<br></span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);<br></span>
                    <span>&nbsp;&nbsp})();<br></span>
                    <span>&lt;/script&gt;<br></span></span>
                    <a href="https://my.livechatinc.com/settings/code" target="_blank">How to find your script code with license?</a>
                </li>
            </ol>
        </div>

    </div>
{% endblock %}
