{% extends "base.html" %}

{% block header %}
<div class="metanav left">
    <a href="{{ url_for('index') }}">Home</a>
</div>
{% endblock %}
{% block body %}
    <div class="auth-container">
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-line">
                <div class="left">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="{% if error.username %}error-input{% endif %}" name="username" value="{% if not error.username %}{{ request.form.username }}{% endif %}" required>
                    {% if error.username %}<span class="error">{{ error.username }}</span>{% endif %}
                </div>
                <div class="right">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="{% if error.password %}error-input{% endif %}" name="password" required>
                    {% if error.password %}<span class="error">{{ error.password }}</span>{% endif %}
                </div>
            </div>
            <input type=submit value="Login">
        </form>
    </div>
{% endblock %}
