{% extends "base.html" %}

{% block header %}
<div class="metanav left">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('help_install') }}">Need Help?</a>
</div>
<div class="metanav right">
    <span>Hi {{ current_user.username }}!</span>
    <a href="{{ url_for('logout') }}">Log out</a>
</div>
{% endblock %}

{% block body %}
    <div class="auth-container">
        <form action="{{ url_for('update_profile') }}" method="post">
            <div class="form-line">
                <div class="left">
                    <label for="livechat_login">LiveChat Username </label>
                    <input id="livechat_login" type="text" name="livechat_login" value="{{ request.form.livechat_login }}" required>
                </div>
                <div class="right">
                    <label for="livechat_api_key">LiveChat API Key </label>
                    <input id="livechat_api_key" type="text" name="livechat_api_key" value="{{ request.form.livechat_api_key }}" required>
                </div>
                <div class="full left">
                    <a href="https://my.livechatinc.com/agents/api-key/" target="_blank">Link to the developer's LiveChat interface.</a>
                    <span>(You must have owner rights to see the Username (Login) and Your API key)</span>
                </div>
            </div>
            <input type=submit value="Save">
        </form>
    </div>
{% endblock %}
